In [17]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr

yf.pdr_override()
# For time stamps
from datetime import datetime


# The tech stocks we'll use for this analysis
tech_list = ['0P00005V63.BO', 'GOOG', 'MSFT', 'AMZN']

# Set up End and Start times for data grab

end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)
i = 1
for stock in tech_list:
    val = 'f' + str(i)
    globals()[val] = yf.download(stock, start, end)
    i = i + 1
    
a = yf.download('0P00005V63.BO', start, end)
print("hii")
#print(val)
#print(f4)
company_list = ['']*(i-1)
k=1
for x in company_list:
    company_list[k-1] = eval('f' + str(k))
    k = k + 1 
#print(company_list)
company_name = ["Aditya Birla Sun Life Frontline Equity Fund", "GOOGLE", "MICROSOFT", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.head(300)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
hii

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2022-03-02,323.510010,323.510010,323.510010,323.510010,323.510010,0,Aditya Birla Sun Life Frontline Equity Fund
2022-03-03,321.149994,321.149994,321.149994,321.149994,321.149994,0,Aditya Birla Sun Life Frontline Equity Fund
2022-03-04,316.309998,316.309998,316.309998,316.309998,316.309998,0,Aditya Birla Sun Life Frontline Equity Fund
2022-03-07,308.589996,308.589996,308.589996,308.589996,308.589996,0,Aditya Birla Sun Life Frontline Equity Fund
2022-03-08,312.149994,312.149994,312.149994,312.149994,312.149994,0,Aditya Birla Sun Life Frontline Equity Fund
...,...,...,...,...,...,...,...
2022-05-06,115.518997,117.498497,114.142998,115.660004,115.660004,35310000,GOOGLE
2022-05-09,113.303497,115.562897,112.551498,113.084000,113.084000,34520000,GOOGLE
2022-05-10,116.040497,116.691002,113.383301,114.584503,114.584503,31158000,GOOGLE
2022-05-11,113.710503,116.670998,113.650002,113.960999,113.960999,36502000,GOOGLE
2022-05-12,111.938004,114.856499,110.113503,113.161003,113.161003,41464000,GOOGLE